<div class="outer">
  <img class="beneath" src="img/rock.jpeg" alt="" />
  <div class="main-container">
    <img class="logo-img" src="img/logo.png" alt="" />
  </div>
  <div class="social-links">
    <a href="https://www.facebook.com/gjones1025"><i class="fa fa-facebook-official fa-3x"></i></a>
    <a href="https://twitter.com/Gabe___J"><i class="fa fa-twitter-square fa-3x"></i></a>
    <a href="https://github.com/badview08"><i class="fa fa-github-square fa-3x"></i></a>
    <a href="https://www.linkedin.com/in/jonesgabriel01"><i class="fa fa-linkedin fa-3x"></i></a>
  </div>
  <div class="about-me">
    <h1 class="myself">Background</h1>
    <hr>
    <p>
      Whereabouts, all over the place. Lancaster, SC, Greenville, SC, Winnsboro, SC, Kansas City, MO
    </p>
    <p>
      I am able to freely go where I am needed all over the US.
     </p>
     <p>I am presently looking for opportunities in the following locations:
      Colorado, Washington State, Florida, Greenville, New York City, and last but not least Austin, TX.
    </p>
  </div>
  <div>
    <a class="resume-link" href="https://drive.google.com/file/d/0B3GyGCOc1S6sYU0xQWgwdUU3dDg/view?usp=sharing">Click here to view my Resume.</a>
  </div>
</div>
<footer>
</footer>
