<div class="outer">
  <img class="beneath" src="images/rock.jpeg" alt="" />
  <div class="main-container">
    <img class="logo-img" src="images/logo.png" alt="" />
  </div>
  <div class="about-me">
    <h1>About Myself</h1>
    <p>
      Whereabouts, all over the place. Lancaster, SC, Greenville, SC, Winnsboro, SC, Kansas City, MO
    </p>
    <p>
      I am able to freely go where I am needed all over the US. I am presently looking for opportunities in the following locations:
      Colorado, Washington State, Florida, Greenville, New York City, and last but not least Austin, TX.
    </p>
  </div>
</div>
<footer>
  <div class="social-links">
    <i class="fa fa-facebook-official fa-3"></i>

  </div>
</footer>
