@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';
@import "mobile";
@import "tablet";
@import "desktop";


// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: RGBA(246, 246, 246, 1);
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;


body {
  font-family: $base-font-family;
  color: $base-font-color;
}
a {
  text-decoration: none;
  color: $dark-gray;
}
li {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
a:hover {
  color:#000; 
  overflow: auto;
  }